p {
    content: "Test de traduction basé sur l'inclusion css";
}

span#hello {
    content: "bonjour";
}

span#howareyou {
    content: "Comment allez-vous aujourd'hui?";
}

button {
    content: "changer la langue";
}
